<h1 class="alert alert-dark">Hello</h1>
<!-- <button class="btn btn-danger">click</button> -->
<div class="text-center">
    <!-- <a class="btn btn-success" routerLink="newuser" (click)="Add()">Add New User</a> -->
<!-- <a class="btn btn-success" routerLink="newuser" >Add New User</a> -->
    <!-- <input class="btn btn-success m-2" routerLink="newuser" type="button" value="Add New User"> -->
    <!-- <button class="btn btn-success m-2" routerLink="newuser" type="button">Add New User</button> -->
    <a class="btn btn-success m-2" routerLink="" >All Users</a>


</div>
<router-outlet></router-outlet>